$c-primary: #cc0000;

@import 'reset';
@import 'nav';

.section {
  text-align: center;
  text-decoration: underline;
  color: $c-primary;
}

.step {
  margin-top: 5rem;
}

.instructions {
  margin-left: 3rem;
}

.command {
  width: 70%;
  margin: 2rem auto;
  padding: 0.5rem;
  background: lightgrey;
  // text-align: center;
}

.pic-box {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  &__img {
    border: 1px solid $c-primary;
  }
}
