<div class="nav">
  <div class="nav__pic">
    <img class="nav__pic-img "src="../rubypic.png" alt="">
  </div>
</div>

  <h1 class="title">Build a Simple CRUD App With Ruby on Rails</h1>

<div class="container">{{outlet}}</div>

<div class="footer">
  <div class="link-box">
    <a href="http://www.pragtob.info/rails-beginner-cheatsheet/#console" class="link-box__link">Cheetsheet</a>
    <a href="http://edgeguides.rubyonrails.org/api_app.html" class="link-box__link">Building an API</a>
    <a href="https://rubygems.org/" class="link-box__link">Ruby Gems site</a>
    <a href="https://www.ruby-lang.org/en/documentation/installation/" class="link-box__link">Ruby install docs</a>
  </div>

  <div class="link-box">
    <a href="http://guides.rubyonrails.org/getting_started.html" class="link-box__link">Rails docs</a>
    <a href="http://andycroll.com/mac/ruby/simplest-ruby-on-rails-setup-on-macos/" class="link-box__link">3rd party setup guide</a>
    <a href="http://docs.railsbridge.org/intro-to-rails/setting_the_default_page" class="link-box__link">Setting root URL</a>
    <a href="" class="link-box__link"></a>
  </div>

  <div class="link-box">
    <a href="http://docs.railsbridge.org/intro-to-rails/deploying_to_heroku" class="link-box__link">Deploying to Heroku</a>
    <a href="https://devcenter.heroku.com/articles/getting-started-with-rails4#deploy-your-application-to-heroku" class="link-box__link">More Heroku info</a>
    <a href="https://www.postgresql.org/" class="link-box__link">PostgresSQL site</a>
    <a href="https://guides.railsapps.org/rails-deploy-to-heroku.html" class="link-box__link">Changing to postgres</a>
  </div>
</div>
