<div class="nav">
  <div class="nav__pic">
    <img class="nav__pic-img "src="../rubypic.png" alt="">
  </div>
</div>

  <h1 class="title">Build a Simple CRUD App With Ruby on Rails</h1>

<div class="container">{{outlet}}</div>
