<h2 class="section">First we need to make sure you have the correct setup.</h2>
<h3 class="step">1. Make sure that you have Ruby on your computer.</h3>
<div class="instructions">In your terminal check to see if Ruby is already on your computer.</div>
<div class="command">$ ruby -v</div>
<div class="instructions">If you have an older version put this in your terminal.</div>
<div class="command">$ updates ruby curl -L https://get.rvm.io | bash -s stable –ruby</div>
<div class="instructions">Now restart your terminal.</div>
<h3 class="step">2. Install gems and other stuff.</h3>
<div class="instructions">Let's install bundler.</div>
<div class="command">$ gem install bundler</div>
<div class="instructions">Let's install rails.</div>
<div class="command">$ sudo gem install rails</div>
<div class="instructions">Enter your Mac's password.</div>
<div class="instructions">Restart your terminal and check if it worked.</div>
<div class="command">$ rails -v</div>
